# Welcome to our .gitignore

# ignoring everything except the following
*

# not ignoring the content of subdirectories
!*/
.build/
./files/

# not ignoring cpp files
!*.cpp
!*.h
!*.c

# not ignoring useful files
!Makefile
!.gitignore
!*.conf
!*.md
!*.zip

# IDE files
cmake-build-debug/
.idea/
